body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control {
  -webkit-appearance: menulist;
}

/* *************top header******************* */
.topheadercss {
  background-color: #343a40;
}
